<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- set css -%}{%- include "styles.css" -%}{% endset -%}
    <style>{{ css | cssmin | safe }}</style>
    <title>{%- if title -%}{{ title }}{%- else -%}fabry.dev{%- endif -%}</title>
    <meta name="description" content="{%- if description -%}{{ description }}{%- else -%}Personal website of software engineer.{%- endif -%}"/>
  </head>
  <body>
    <header>
      <div class="container">
        <a href="/" class="home" title="Home"><img src="/images/netlify-logomark.svg" class="logomark" alt="Logo"></a>
        {% block header %}
          {# Replace this if anything is passed in to the header block #}
          {% if header %}
          <h1>{{ header.heading }}</h1>
          <p>
            {{ header.subtitle }}
          </p>
          {% else %}
          <h1>
            💠 Ondrej Fabry
          </h1>
          <p>
            software engineer
          </p>
          <p>
            <a href="https://www.linkedin.com/in/ofabry" class="btn btn-white">LinkedIn</a>
          </p>
          {% endif %}
        {% endblock %}
      </div>
    </header>
    <div class="main">
      <div class="container">
        {% block content %}
        {{ content | safe }}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
