<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- set css -%}{%- include "styles.css" -%}{% endset -%}
    <style>{{ css | cssmin | safe }}</style>
    <title>{%- if title -%}{{ title }}{%- else -%}fabry.dev{%- endif -%}</title>
    <meta name="description" content="{%- if description -%}{{ description }}{%- else -%}Personal website for software engineer from Slovakia.{%- endif -%}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css">
  </head>
  <body>
    <header>
      <div class="container">
        <a href="/" class="home" title="Home">
        <img src="https://en.gravatar.com/userimage/129858368/1905f05f52abf7934f90bc3e8dab66d5.png?size=150" alt="Gravatar">
        <p style="color:black;">fabry.dev</p>
        </a>
        {% block header %}
          {# Replace this if anything is passed in to the header block #}
          {% if header %}
          <h1>{{ header.heading }}</h1>
          <p>
            {{ header.subtitle }}
          </p>
          {% else %}
          <code style="color:#bbb;margin-top:10px;font-size:14px;">
          Personal webiste for software engineer from Slovakia.
          </code>
          {% endif %}
        {% endblock %}
      </div>
    </header>
    <div class="main">
      <div class="container">
        {% block content %}
        {{ content | safe }}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
