<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- set css -%}{%- include "styles.css" -%}{% endset -%}
    <style>{{ css | cssmin | safe }}</style>
    <title>{%- if title -%}{{ title }}{%- else -%}fabry.dev{%- endif -%}</title>
    <meta name="description" content="{%- if description -%}{{ description }}{%- else -%}Personal website of software engineer.{%- endif -%}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css">
  </head>
  <body>
    <header>
      <div class="container">
        <a href="/" class="home" title="Home"><img src="https://en.gravatar.com/userimage/129858368/b19c73aa876bf220dcc4b8a03b95f67b.png?size=200" alt="Gravatar"></a>
        {% block header %}
          {# Replace this if anything is passed in to the header block #}
          {% if header %}
          <h1>{{ header.heading }}</h1>
          <p>
            {{ header.subtitle }}
          </p>
          {% else %}
          <h1>Ondrej Fabry</h1>
          <code style="color:#bbb;margin-top:10px;font-size:14px;">
            enthusiastic software engineer from Slovakia
          </code>
          <p>
            <a href="https://linkedin.com/in/ofabry" class="btn btn-white"><i class="fab fa-linkedin"></i> LinkedIn</a> 
            <a href="https://github.com/ofabry" class="btn btn-white"><i class="fab fa-github-square"></i> GitHub</a>
          </p>
          {% endif %}
        {% endblock %}
      </div>
    </header>
    <div class="main">
      <div class="container">
        {% block content %}
        {{ content | safe }}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
