---
title: About
layout: layouts/base.njk
---

<h1>Ondrej Fabry</h1>

<!-- LinkedIn -->
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js"></script>
<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="ofabry"><a class="LI-simple-link" href='https://sk.linkedin.com/in/ofabry?trk=profile-badge'>Ondrej Fabry</a></div>
 
<p>
  <a href="https://linkedin.com/in/ofabry" class="btn btn-white"><i class="fab fa-linkedin"></i> LinkedIn</a> 
  <a href="https://github.com/ofabry" class="btn btn-white"><i class="fab fa-github-square"></i> GitHub</a>
</p>

<!-- BuyMeACoffee -->
<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="ofabry" data-color="#ffffe5" data-emoji="🍺"  data-font="Lato" data-text="Buy Ondrej a beer" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFDD00" ></script>

<h3> Bio </h3>
<p>
  Enthusiastic software engineer developing primarily in Go language for more than five years. 
  Highly skilled in linux environment, systems and networking with a lot of experience working 
  with containers and cloud-native application development.
</p>
<p>
  Constantly embracing my endless curiosity for exploring world of open source to learn about 
  innovative concepts. Always eager to brainstorm new ideas and think about means of turning 
  them into prototypes. Continually analyzing software development processes while looking for 
  ways to improve efficiency or automate repetitive tasks.
</p>

