---
title: About
layout: layouts/base.njk
---

<h1>Ondrej Fabry</h1>

<!-- LinkedIn -->
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js"></script>
<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="ofabry"><a class="LI-simple-link" href='https://sk.linkedin.com/in/ofabry?trk=profile-badge'>Ondrej Fabry</a></div>
 
<p>
  <a href="https://linkedin.com/in/ofabry" class="btn btn-white"><i class="fab fa-linkedin"></i> LinkedIn</a> 
  <a href="https://github.com/ofabry" class="btn btn-white"><i class="fab fa-github-square"></i> GitHub</a>
</p>

<!-- BuyMeACoffee -->
<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="ofabry" data-color="#ffffe5" data-emoji="🍺"  data-font="Lato" data-text="Buy Ondrej a beer" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFDD00" ></script>

<h3> About Me </h3>
<p>
  Hi there, I am Ondrej Fabry, a software engineer with over 12 years of experience in the industry. I am passionate about developing innovative and efficient software solutions that solve real-world problems. With a strong background in Linux and Go, I have developed expertise in cloud-native applications and network systems. I am always eager to learn about new technologies and love to collaborate with others on exciting projects. I believe in the power of open-source development and strive to make a positive impact through my work. Thank you for taking the time to visit my site!
</p>

